<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="locale-switcher">
    <span th:text="#{language.change}">Language:</span>
    <a href="?lang=en">English</a> |
    <a href="?lang=ru">Русский</a>
</div>
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<th:block th:replace="~{layout/main::page(title='JiraRush: mini bugtracking system',appMain=~{::appMain})}">
    <appMain>
        <h1 th:text="#{user_form.title}"></h1>
        <div th:if="${authUser} != null">
            <form action="/ui/logout" method="post">
                <button class="btn btn-primary btn-lg mt-3" type="submit" th:text="#{user_form.logout}"></button>
            </form>
        </div>
    </appMain>
</th:block>
